/* table {
  width: 100%;
} */
#sendBtn {
  margin-top: 100px;
  width:100px;
  height:20px;
}
#receiveInfo {
  min-width: 700px;
  min-height: 1000px;
}
#sendInfo {
  min-width: 500px;
  min-height: 1000px;

}
#middleRow {
  width:101px;
}
