
/* CSS_BEGIN */
.optional {
    background-color: #ffffe0;
}

.mandatory {
    background-color: #ADD8E6;
}

#rightSide_textArea {
    min-width: 1000px;
    min-height: 1000px;
}
#bottom_textArea {
        width: 100%;
        min-height: 1000px;
        box-sizing: border-box;
}

#floating-box {
    padding-top: 10px;
    padding-left: 3px;
    position: absolute;
    top: 1%;
    left: 79.0%;
    width: 16%;
    height: 95%;
    border: 1px solid black;
    background-color: #e9e9e9;
}

#left {
    min-width: 500px;
}

#jsonToSend {
    width: 98%;
    min-height: 700px;
}

#schema {
    min-height: 100px;
}

/* .button {
    background-color: grey;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
  } */
  
  .active {
    background-color: green;
  }

/* CSS_END */

