
/* CSS_BEGIN */
.optional {
    background-color: #ffffe0;
}

.mandatory {
    background-color: #ADD8E6;
}

#rightSide_textArea {
    min-width: 1000px;
    min-height: 1000px;
}
#bottom_textArea {
        width: 100%;
        min-height: 1000px;
        box-sizing: border-box;
}



#floating-box {
    padding-top:10px;
    padding-left:10px;
  position: absolute;
  top: 5.0%;
  left: 66.67%;
  width: 30%;
  height: 50%;
  border: 1px solid black;
  background-color: #e9e9e9;
}

#left {
    min-width: 500px;
}

#jsonToSend {
    width: 98%;
    min-height: 700px;
}

#schema {
    min-height: 100px;
}
/* CSS_END */

